@import '../../styles/Ultimate-Config.scss';
@import '../../styles/Variables.scss';

.carousel__master-spinner-container {
    background: white !important;
}



.slide__item {
    position: relative;
    height: 350px !important;
    overflow: hidden;
    padding: 0 !important;
    margin: 0 !important;

    .hero__image-1 {
        height: 350px !important;
        object-fit: cover;
        position: absolute;
        z-index: -1;
    }

    .container {
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        height: 350px;
        padding-bottom: 3rem;

    }
}

.animation__slide {
    .container {
        opacity: 0;
        animation: slide 0.5s ease-in-out 0.5s forwards;
    }

}

@keyframes slide {

    0% {
        transform: translateY(20%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}