@import '../../styles/Ultimate-Config.scss';
@import '../../styles/Variables.scss';

.navigation__bar {
    height: 70px;
    width: 100%;
    background-color: $main-black;


    .container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .navigation__menu {
            width: 30px;
            cursor: pointer;
        }

        .logo__link {
            height: 25px;

            .navigation__logo {
                width: 150px;
                height: 25px;
            }
        }


        .navigation__shoppingCart {
            width: 30px;
        }
    }
}