@import '../../styles/Variables.scss';

.payment__container {
    .pay {
        width: 100%;
        color: white;
        font-family: $karla-font;
        border: none;
        border-radius: 5px;
        background-color: $main-blue;
        padding: 2rem;
    }

    .payment__title {
        font-size: $Paragraph-2;
        text-align: left;
        font-weight: 500;
        font-family: $karla-font;
        margin: 1rem 0;
    }

    .payment__subtitle {
        font-size: $Body;
        text-align: left;
        font-weight: 500;
        font-family: $karla-font;
        margin: 1rem 0;
    }

    .payment__box {
        border: 1px solid rgba(0, 0, 0, 0.212);
        border-radius: 5px;
        margin: 2rem 0;

        .box__heading {
            border-bottom: 1px solid rgba(0, 0, 0, 0.212);
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1rem 1rem;

            .box__title {}

            .ccv {
                width: 50px;
            }
        }

        .payment__inputs {
            padding: 1rem 2rem;

            .payment__form {
                width: 100%;
                padding: 1rem;
                border-radius: 5px;
                border: 1px solid rgba(128, 128, 128, 0.342);
                margin: 0.8rem 0;
                font-family: $karla-font;
            }
        }
    }

    .payment__modal {
        .checkout__modal {
            animation: modalanim 5s ease-in-out forwards;
        }

        .payment__success {
            border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 500;
            background-color: white;
            padding: 2rem 1rem;
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            justify-content: center;
            gap: 10px;
            animation: success 3s ease-in-out 2s forwards;
            opacity: 0;

            .success__message {
                color: #4CAF50;
                font-weight: 500;
                font-family: $karla-font;
            }

            .success-checkmark {
                width: 80px;
                height: 115px;
                margin: 0 auto;

                .check-icon {
                    width: 80px;
                    height: 80px;
                    position: relative;
                    border-radius: 50%;
                    box-sizing: content-box;
                    border: 4px solid #4CAF50;

                    &::before {
                        top: 3px;
                        left: -2px;
                        width: 30px;
                        transform-origin: 100% 50%;
                        border-radius: 100px 0 0 100px;
                    }

                    &::after {
                        top: 0;
                        left: 30px;
                        width: 60px;
                        transform-origin: 0 50%;
                        border-radius: 0 100px 100px 0;
                        animation: rotate-circle 4.25s ease-in 2s;
                    }

                    &::before,
                    &::after {
                        content: '';
                        height: 100px;
                        position: absolute;
                        background: #FFFFFF;
                        transform: rotate(-45deg);
                    }

                    .icon-line {
                        height: 5px;
                        background-color: #4CAF50;
                        display: block;
                        border-radius: 2px;
                        position: absolute;
                        z-index: 10;

                        &.line-tip {
                            top: 46px;
                            left: 14px;
                            width: 25px;
                            transform: rotate(45deg);
                            animation: icon-line-tip 0.75s 2s;
                        }

                        &.line-long {
                            top: 38px;
                            right: 8px;
                            width: 47px;
                            transform: rotate(-45deg);
                            animation: icon-line-long 0.75s 2s;
                        }
                    }

                    .icon-circle {
                        top: -4px;
                        left: -4px;
                        z-index: 10;
                        width: 80px;
                        height: 80px;
                        border-radius: 50%;
                        position: absolute;
                        box-sizing: content-box;
                        border: 4px solid rgba(76, 175, 80, .5);
                    }

                    .icon-fix {
                        top: 8px;
                        width: 5px;
                        left: 26px;
                        z-index: 1;
                        height: 85px;
                        position: absolute;
                        transform: rotate(-45deg);
                        background-color: #FFFFFF;
                    }
                }
            }

            @keyframes rotate-circle {
                0% {
                    transform: rotate(-45deg);
                }

                5% {
                    transform: rotate(-45deg);
                }

                12% {
                    transform: rotate(-405deg);
                }

                100% {
                    transform: rotate(-405deg);
                }
            }

            @keyframes icon-line-tip {
                0% {
                    width: 0;
                    left: 1px;
                    top: 19px;
                }

                54% {
                    width: 0;
                    left: 1px;
                    top: 19px;
                }

                70% {
                    width: 50px;
                    left: -8px;
                    top: 37px;
                }

                84% {
                    width: 17px;
                    left: 21px;
                    top: 48px;
                }

                100% {
                    width: 25px;
                    left: 14px;
                    top: 45px;
                }
            }

            @keyframes icon-line-long {
                0% {
                    width: 0;
                    right: 46px;
                    top: 54px;
                }

                65% {
                    width: 0;
                    right: 46px;
                    top: 54px;
                }

                84% {
                    width: 55px;
                    right: 0px;
                    top: 35px;
                }

                100% {
                    width: 47px;
                    right: 8px;
                    top: 38px;
                }
            }
        }
    }
}

@keyframes success {

    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {

        opacity: 0;
        visibility: hidden;
        z-index: 0;
    }




}

@keyframes modalanim {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
        z-index: 0;
    }
}