@import '../../styles/Variables.scss';

.cart__item__row {
    width: 100%;


    .cart__item {
        display: flex;
        border: 2px solid rgba(0, 128, 0, 0.178);
        border-radius: 10px;
        margin: 5px 0;
        align-items: center;
        width: 100%;
        padding: 1rem;
        gap: 10px;

        .cart__item__image {
            width: 50px;
        }

        .cart__item__title {
            margin: 0;
            font-size: $Body + 0.3rem;
        }

        .cart__item__price {
            margin: 0;
        }

        .remove__cart__item {
            font-family: $karla-font;
            color: $main-blue;
            font-weight: 500;

            letter-spacing: 1px;
            font-size: $Body;
            margin-left: auto;
            cursor: pointer;
        }

        .cart__item__count {

            position: absolute;
            right: 10rem;


        }
    }
}