@import '../../styles/Variables.scss';


.accessories__title {
    font-family: $karla-font;
    font-size: $Headline-4;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}