@import '../../styles/Variables.scss';

.popup {
    color: white;
    background: $main-blue;
    width: 100%;
    padding: 1rem 0;
    text-align: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    opacity: 0;
    top: 0px;
    animation: popup 3s ease-in-out forwards;
}

.product__container {
    background-color: white;

        transition: all ease-in-out;
     animation: pop 0.5s ease-in-out forwards;
     scroll-behavior: auto;

    .product__image {
        padding-top: 3rem;
    }

    .product {
        padding: 4rem 0;
        display: flex;
        flex-direction: column;
        width: 100%;

        .product__info {
            text-align: center;
            margin-bottom: 2rem;

            .product__title {
                font-size: $Headline-4;
                font-family: $unica-font;
                text-transform: uppercase;
                font-weight: $font-Medium;
                letter-spacing: 1px;
                color: $main-black;
                margin-bottom: 0;
            }

            .product__price {
                color: rgb(105, 105, 105);
                font-size: $Paragraph-2;
                font-family: $karla-font;
            }
        }

        .product__cta {
            .my__row {
                .my__col {
                    padding: 0 1rem;

                    .product__cta__label {
                        font-family: $karla-font;
                        text-transform: uppercase;
                        font-size: $Body;
                        font-weight: bold;
                        color: rgb(105, 105, 105);
                        margin-bottom: 1rem;
                    }

                    .product__cta__select {
                        height: 35px;
                        padding: 0 1rem;
                        margin-bottom: 1rem;
                        border: 0;
                        border-radius: 0;
                        background-color: $gray-bg;
                        font-family: $karla-font;
                        font-size: $Paragraph-2 - 0.4rem;
                        width: 100%;
                    }

                    .product__cta__option {
                        padding: 0;
                        margin: 0;
                    }
                }

                .my__col {
                    .product__cta__count {
                        display: flex;
                        align-items: center;
                        margin-bottom: 2rem;


                        .count__minus,
                        .count__plus {
                            background-color: $gray-bg;
                            width: 30px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            height: 35px;
                            cursor: pointer;
                            width: 100%;
                        }

                        .count {

                            background-color: $gray-bg;
                            height: 35px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 30px;
                            border-left: 1px solid rgba(128, 128, 128, 0.438);
                            border-right: 1px solid rgba(128, 128, 128, 0.452);
                            width: 100%;
                        }


                    }
                }
            }
        }

        .product__buy__btns {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 5px;

            .add__to__cart,
            .buy__it__now {
                width: 100%;
                text-transform: uppercase;
                font-family: $karla-font;
                letter-spacing: 1px;
                font-weight: $font-Bold;
            }

            .add__to__cart {
                border: 1.5px solid $main-blue;
                color: $main-blue;
            }

            .buy__it__now {
                background-color: $main-blue;
                color: white;
                border: 1px solid $main-blue;

                &:hover {
                    background-color: darken($color: $main-blue, $amount: 10%);
                }
            }
        }
    }

    .product__description {
        padding: 3rem 0;

        .desc__list {
            .desc__list__item {
                list-style-type: disc;
                color: rgb(77, 77, 77);
                font-family: $karla-font;
                font-weight: 500;
                font-size: $Body;
            }
        }
    }

}

@keyframes pop {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        opacity: 1;

    }
}

@keyframes popup {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    20% {
        opacity: 1;
        transform: translateY(0%);
    }

    90% {
        opacity: 1;
        transform: translateY(0%);
    }

    100% {
        opacity: 0;
        display: none;
        transform: translateY(-100%);
    }
}