@import '../../styles/Variables.scss';

.cart__container {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


    .cart__title {
        font-family: $unica-font;
        font-size: $Headline-4;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 500;
        margin-top: 2rem;
    }

    .cart__state {
        font-family: $karla-font;
        font-size: $Body;
        color: gray;
        font-weight: 400;
        margin-bottom: 3rem;
    }

    .cart__empty__btn {
        color: white;
        font-family: $karla-font;
        font-size: $Paragraph-2;
        background-color: $main-blue;
        padding: 1rem 5rem;
        margin-bottom: 2rem;
    }

    .total__price {
        font-family: $karla-font;
        margin-top: 2rem;

        text-align: center;

        .price {
            font-size: $Paragraph-1;
        }

        .total__price__sub {}

        .cart__btns {
            margin: 2rem 0;

            button {
                color: white;
                width: 100%;
                border-radius: 0;
                text-transform: uppercase;
                font-weight: 500;
                font-family: $karla-font;
                margin: 5px 0;
                cursor: pointer;
                transition: all 0.3s ease-in-out;

                &:hover {
                    transform: scale(1.02);
                }
            }

            .update {
                background-color: $main-black;
            }

            .checkout {
                background-color: $main-blue
            }
        }
    }
}